{% from "_screenhelper.html" import render_neshamot %}
{% from "_screen1.html" import render_screen1 %}
{% from "_screen2.html" import render_screen2 %}

{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/styles/style.css">
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
{% if show_all %}
	show_all = true;
{% else %}
	show_all = false;
{% endif %}
</script>
<script type="text/javascript" src="/static/scripts/script.js"></script>
{% endblock %}

{% block title %} Ner Neshamot {% endblock %}
{% block content %}
{% if not start %}
	{% set start = 0 %}
{% endif %}

<div class="wrapper_flex_row">
{% if screen == 1 %}
	{{ render_screen1(neshamot, show_all) }}
{% else %}
	{{ render_screen2(zmanim, qrcode_url) }}
{% endif %}
</div>
{% endblock %}